/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap'); */

html {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media only screen and (max-width: 1600px) {
	html {
		font-size: 53%;
	}
}

@media only screen and (max-width: 1200px) {
	html {
		font-size: 50%;
	}
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 45%;
	}
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
	background-color: #f7f7f7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
